# Chakora configuration file
#
# Copyright (c) 2010 The Chakora Project. All rights reserved.
# This software is free software; rights to this config are stated in docs/LICENSE.

# Me block is information on this Chakora instance
me {
	# Server name
	name = services.server.tld
	# Information on the server
	info = "Chakora IRC Services"
	# A unique 3 character ID
	sid = 34R
}

# The server block is information about the ircd and linking
server {
	# inspircd12, charybdis, or ratbox
	ircd = inspircd12
	# The name/ip of our hub
	host = some.server.tld
	# IP to bind to, 0.0.0.0 should usually be fine
	vhost = 0.0.0.0
	# Port to link on
	port = 7000
	# Linking password
	password = linkage
}

# The network block is information about the network chakora is linking to
network {
	# Network name
	name = "technoirc"
	# Network admin
	admin = "starcoder"
}

# The log block is information about where/what to log
log {


	# Logging flags:
	# 	debug - Log all debug
	# 	commands - Log all command usuage
	# 	error - Log critical errors
	# 	set - Log all SET commands for an user/channel
	#	register - Log all registrations
	#	soper - Log all service oper usuage
	#	request - Logs anything thats requested (mainly vHosts)

	# Log channel.
	logchan = "#services"
	# Log channel flags.
	logchanf = "error soper request register"
}

# The services block is information for operator of services
services {
	# Administrator email
	email = 'admin@email.me'
	# If you want to allow tainting, set this to 1, but you will lose your support
	allow_taint = 0
	# Change a channel's TS to the TS from when it was registered (recommended)
	updatets = 1
	# Allow the use of fantasy - not using fantasy saves some resources.
	use_fantasy = 1
}

enc {
	# Encryption method.
	#    none - No encryption. Users will be warned of this.
        #    hmac_whirl - HMAC+Whirlpool. Requires a key.
	method = "hmac_whirl"

	# !!CHANGE THIS!! This NEEDS to be unique!! !!DO NOT LOSE THIS, IF YOU LOSE IT, DATABASES CANNOT BE DECRYPTED!!
        # This is only needed if the selected encryption method requires a key.
	key = "key"
}

# Information on services
botserv {
	nick = BotServ
	user = BotServ
	host = technoirc/Services/BotServ
	real = "Bot Services"
chanserv {
	nick = ChanServ
	user = ChanServ
	host = technoirc/Services/ChanServ
	real = "Channel Services"
	# Character for fantasy commands. e.g. ! . @
	fantasy_char = !
}

nickserv {
	nick = NickServ
	user = NickServ
	host = technoirc/Services/NickServ
	real = "Nickname Services"
	enforce_delay = 30
	# The maxiumum number of times an email address can be used to register an account
	max_email = 3
	# Send a verication email upon registration?
	verify_email = 0
}

operserv {
	nick = OperServ
	user = OperServ
	host = technoirc/Services/OperServ
	real = "Oper Services"
}

hostserv {
	nick = HostServ
	user = HostServ
	host = technoirc/Services/HostServ
	real = "vHost Services"
}

memoserv {
	nick = MemoServ
	user = MemoServ
	host = technoirc/Services/MemoServ
	real = "Memo Services"
}

global {
	nick = Global
	user = Global
	host = technoirc/Services/Global
	real = "Global Noticer"
}

# End configuration file
