# Chakora example services oper configuration file

BOF oper
operserv:global
nickserv:fullinfo
EOF

BOF admin
chanserv:can_override
operserv:update
INCLUDE oper
EOF

BOF sra
operserv:mod_
operserv:svs:run
#operserv:raw
INCLUDE admin
EOF

SOPER starcoder sra
SOPER MattB sra
